.card {
    /* display: none; */
    border-radius: 8px;
    overflow: hidden;
    background: var(--cardGray);
    text-align: center;
    padding: 1.7em 0;
    position: relative;
}
.card:before {
    content: "";
    height: 4px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.card.facebook:before {
    background: var(--facebook);
}
.card.twitter:before {
    background: var(--twitter);
}
.card.instagram:before {
    background-image: linear-gradient(to right, var(--instagram-1) 0%, var(--instagram-2) 100%);
}
.card.youtube:before {
    background: var(--youTube);
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cardTitle);
    font-size: 0.8em;
    font-weight: bold;
}
.card-title img {
    margin-right: 5px;
}

.card-followers-number {
    /* border: 1px solid red; */
    font-size: 50px;
    font-weight: 700;
}
.card-followers-title {
    /* border: 1px solid blue; */
    display: block;
    text-transform: uppercase;
    color: var(--cardTitle);
    letter-spacing: 4px;
    font-size: 0.7em;
}

.card-today {
    margin-top: 20px;
    color: var(--lime-green);
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-today {
    margin-right: 5px;
}

.card-small {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    background: var(--cardGray);
    border-radius: 8px;
    padding: 1em;
}

.card-small p {
    margin: 0;
}

.card-small-views {
    /* border: 1px solid green; */
    color: var(--cardTitle);
    font-weight: bold;
    font-size: 0.9em;
}

.card-small-icon {
    /* border: 1px solid green; */
    text-align: right;
}

.card-today-icon {
    width: 2rem;
}

.card-small-number {
    /* border: 1px solid green; */
    font-weight: bold;
    font-size: 2em;
    line-height: 0.9;
}

.card-small-percentage {
    /* border: 1px solid green; */
    text-align: right;
    display: flex;
    align-items: flex-end;
    color: var(--lime-green);
    justify-content: flex-end;
    font-size: 0.9em;
    font-weight: bold;
}

.card-small-percentage.is-danger {
    color: var(--bright-red);
}

.card-small-percentage span {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.card-small-percentage img {
    margin-right: 5px;
}

.top-card {
    margin-top: -50px;
    margin-bottom: 3em;
  }